/* Start Of nav design Page */
header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

#logo {
    width: 15%;
    margin-right: auto;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
}

.slogan {
    font-size: 35px;
    color: #000000;
}

.nav-link {
  color: #ffffff!important;
}

.navbar {
  background: #808080;
}

/* End Of nav design*/

/* Start of body design */
body {
    background-color: #000000e0;
    font-family: "Open Sans",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}


.image {
    position: relative;
    text-align: center;
    color: #ffffff;
    background-image: url(https://agreen16-su.github.io/ist263/images/homepage-image.jpg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    /* background-image: "../images/homepage-image.jpg"; */
}

/* End of Nav Design */

/* Start of Footer Design */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.footerbody {
  display: flex;
  background: #000000;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 5;
  min-height: fit-content;
  background-color: #000000;
}

.footer {
  position: relative;
  width: 100%;
  background: #455A64;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  flex-wrap: wrap;
}

.menu__item {
  list-style: none;
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 10px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* Start Of Home Page */
#value-proposition {
    display: inline-flex;
    border:3px solid black;
    background-color: #ffffff;
    justify-content: space-around;
}

#serviceRedirect {
    color: #1e90ff;
    background-color: #fff0f0;
    display: inline;
}

.serviceRedirectbc {
    background-color: #ffffff;
}

.wwad {
    text-align: center;
    background-color: #808080;
    color: #ffffff;
    padding: 1%;
    margin: 0;
    font-size: 20px;
}


@media only screen and (max-width: 500px) {
  #value-proposition {
    flex-direction: column;
  }

  .slide-number {
    font-size: 12px;
    max-width: 410px;
  }

  #logo {
    width: 45%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

}

.prop {
    display: block;
    padding: 10%;
}

.propimg {
    float: left;
    max-width: 45px;
    height: 45px;
}

.block{
    display: block;
}

.text {
    margin-left: 25px;
    justify-content: space-evenly;
  }

.text p {
    font-size: small;
}

.textheader {
    font-size: 52px;
}

.textdescription {
    font-size: 1px;
}

.vp-cnt {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

/* Testimonial slideshow */
/* Styling the area of the slides */

/* Styling the area of the slides */

#slideshow {
  overflow: hidden;
  height: 240px;
  width: 728px;
  margin: 0 auto;
  background: #ffffff;
}


/* Style each of the sides 
with a fixed width and height */

.slide {
  float: left;
  height: 510px;
  width: 728px;
  /* background-color: #d3d3d3; */
  font-size: 50;
}

.slide-number {
  position: relative;
  text-align: center;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 20;
  letter-spacing: 0px;
  line-height: 48px;
  text-transform: none;
  color: #252B33;
}

/* Add animation to the slides */

.slide-wrapper {
   
  /* Calculate the total width on the
basis of number of slides */
  width: calc(728px * 4);
   
  /* Specify the animation with the
duration and speed */
  animation: slide 20s ease infinite;
}

/* Define the animation 
for the slideshow */

@keyframes slide {
   
  /* Calculate the margin-left for 
each of the slides */
  20% {
      margin-left: 0px;
  }
  40% {
      margin-left: calc(-728px * 1);
  }
  60% {
      margin-left: calc(-728px * 2);
  }
  80% {
      margin-left: calc(-728px * 3);
  }
}


/* Start of Services body design */


table {
  border-collapse: collapse;
  width: 75%;
  margin-top: 20px;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


th {
  background-color: #f2f2f2;
  color: #3B71CA;
}
.svc-propimg {
  float: left;
  width: 25%;
  height: 225px;
  margin: 10px;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .svc-propimg {
      float:none;
      width: 440px;
      height: 280px;

  }
}
.container-service-button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svc-body {
  border: #9fa6b256;
  border-style: solid;
}

@media screen and (max-width: 700px) {
  .sv-cnt  {   
    flex-direction: column;
  }
}

.svc-text {
  margin-left: 25px;
  justify-content: space-evenly;
  flex: wr;
}

.svc-text p {
  font-size: small;
}

.svc-textheader {
  font-size: 52px;
  color: #3B71CA;
}

@media only screen and (max-width: 900px) {
  .svc-text p {
    font-size: medium;
  }
  .myForm {
    flex-direction: column;
  }
}

.svc-textdescription {
  font-size: 1px;
}

.our-services {
  text-align: center;
  background-color: #808080;
  color: #ffffff;
  padding: 1%;
  margin: 0;
  font-size: 20px;
}
.sv-cnt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Start of Contact */
.container-contact {
  display: flex;
  background-color: #d3d3d3;
  align-content: space-between;
}

.contact-us {
  text-align: center;
  background-color: #808080;
  padding: 2%;
  margin: 0;
  font-size: 38px;
}

.myForm {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 1.8em;
}
.message {
  display: flex;
  flex-direction: column;
  order: 2;
}
.message > textarea {
 flex: 1; 
 min-width: 18em;
}
.contact {
   flex: 1; 
  order: 1;
   margin-right: 2em; 
}
.contact input {
  width: 100%;
}
.contact input,
.contact button {
  padding: 1em;
  margin-bottom: 1em;
}
.contact button {
 background: gray;
 color: white;
 border: 0;
}


/* Start of About Us  design */
#profile {
  border-radius: 50%;
  max-width: 85%;
  height: 195px;
  margin: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-about {
  display: block;
}

.container-about-body {
  border: 3px solid #808080;
}
.container-about-body h1{
  text-align: center;
  display: block;
  background-color: #808080;
}

.container-about-body p{
  text-align: left;
  margin: 15px;
  
}

.container-about-button {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-about-button p {
  margin-right: 5px;
}

